$filter-height: 57px;
$dropdown-width: 265px;
$header-height: 68px;

body {
	margin-top: $header-height;
}


.ant-select {
	width: 100%;
}

a {
	cursor: pointer;
}

.logo {
	width: 100%;
	height: 100%;
}

.header {
	font-size: 18px;
	font-weight: 600;	
}

.filter-control {
	width: $dropdown-width;
}


#dynamicUploadForm {
	div[class^='col-'] {
		min-height: 86px;
	}
	
	.textArea {
		min-height: 125px;
	}

}


@media only screen and (max-width:1024px) {
	.filter {
		display: block !important;
	}

	#pkg-list {
		height: 50vh !important;
	}
}

.filter {
	height: $filter-height;
	display: inline-table;
}

.clearFilter {
	color: #337ab7;
	font-size: 11px;
	cursor: pointer;
	text-decoration: none;
}

.noResults {
	margin-top: 10px;
}

.attachmentsModalBody {
	padding-top: 0px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 5px;
	
	.attachmentsModalRow {
		border-bottom: 1px solid #e5e5e5;
		padding-top: 15px;
		padding-bottom: 15px;
		word-wrap: break-word;
		
		.filename {
			overflow: hidden;
			position: relative;
			line-height: 1.2em;
			margin-right: 0em;
			padding-right: 1em;
		}
		
	}
	.grayRow {
		background-color: rgba(242, 242, 242, 1);
		.filename:after {
			background: rgba(242, 242, 242, 1);
		}
	}
		
}

.metadataModalBody {
	ul {
		list-style: none;
		margin-bottom: 10px;
	}
	li {
		margin-bottom: 10px;
	}
}

#pkg-search-bar {
    width: 200px;
}

#pkg-list {
    //margin: 10px 0 0 0;
    //height: calc(100vh - 150px - #{$filter-height});
    //overflow-y: scroll;
    .pkg-panel:nth-child(even) {
        background-color: rgb(230, 241, 255);
    }
}

.pkg-filter {
    margin: 0px 10px 0px 0px;
}

.pkg-type-icon {
	margin-right: 10px;
}

.search-glass {
    background: rgb(2, 117, 216);
    color: white;
}

.pkg-panel {
    margin: 0px 10px 10px 0px;
	.odd-row {
		background-color: rgba(230, 241, 255, 1);
	}
}

.pkg-info {
	overflow: hidden;
    div:nth-child(2) {
        margin: 12px 0px 12px;
    }
}

.pkg-panel-right {
    div:nth-child(2) {
        margin: 7px 0px 7px;
    }
    div {
        button {
            background: rgb(2, 117, 216);
            color: white;
            font-family: "ArialMT", "Arial";
        }
    }
}

.pkg-panel-left {
	padding-left: 5px;
}

.dd-gray-text {
    color: gray;
}

.upload-ctrl-submit {
	padding-top: 10px;
    float: right;
}

#upload-form-default {
    text-align: center;
    div {
        b {
            color: gray;
        }
    }
}

.pkg-type-img {
    text-align: center;
    div {
        margin-top: -50px;
    }
}

.navbar {
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;

    .navbar-header {
    	width: 220px;
    }
    .nav-route {
		text-align: center;
		padding-top: 10px;
    }
	.nav-user {
		float: right;
		text-align: right;
		padding-top: 20px;
	}
	@media only screen and (max-width: 768px) {
		.nav-route {
			text-align: left;
		}
		.nav-user {
			text-align: left;
			float: left;
		}
	}

}

.btn-primary {
    background-color: rgb(2, 117, 216);
}

.navbar-default .btn-link {
    color: rgb(2, 117, 216);
}

.dropzone {
	padding-bottom: 15px;
	
	.react-fine-uploader-gallery-dropzone, .react-fine-uploader-gallery-nodrop-container {
		min-height: 120px;
		border: 1px dashed darkgrey;
	}

	.react-fine-uploader-gallery-file-input-container {
		background-color: #0275d8;
		border: 1px solid #0275d8;
	}

	.react-fine-uploader-gallery-file-input-container:hover {
		background-color: #286090;
		border: 1px solid #204d74;
	}
	.react-fine-uploader-gallery-retry-button {
		display: none;
	}
	.react-fine-uploader-gallery-pause-resume-button {
		display: none;
	}
	.react-fine-uploader-gallery-cancel-button {
		&.cancel-disabled {
			display: none;
		}
	}
}

#upload-ctrl {
	.formError {
		color: red;
	}

	.form-control {
		height: 38px;
	}

}

#uploadInfo {
	.formError {
		color: red;
	}
	
	.fieldInError {
		border: 1px solid red !important;
	}
	
	textarea {
		width: 100%;
		height: 65px;
	}

	.packageTypeSelect {
		width: 250px;
	}
	
	.form-control {
		height: 38px;
	}

	.form-control:focus, textarea:focus {
		box-shadow: none;
		border: 2px solid rgb(38,132, 255);
	}

	#packageInformationSection {
		padding-top: 15px;
	}

}

#uploadForm {
	#upload {
		display: none;
	}
}

#uploadPackageInfoForm {
	*[class*='col-'] {
		padding-left: 0px;
		padding-right: 0px;
	}

	.secondField {
		padding-left: 15px !important;
	}

	.uploadFormSubmit {
		width: 150px;
		margin-bottom: 15px;
	}

}

.react-fine-uploader-gallery-file  {
	margin-top: 30px !important;
}

#oops-content {

	margin-top: 150px;

	.oops-big {
		font-size: 72px;
	}

	.oops-small {
		font-size: 32px;
	}

	#oops-image {
		width: 385px;
		height: 330px;
	}
}

.ant-form-item-label {
	line-height: unset !important;
}
.ant-form-item {
	margin-bottom: 0px !important;
}
